<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ShopWhizzy_Base::core" title="ShopWhizzy" sortOrder="61">
                    <resource id="ShopWhizzy_StripeHostedCheckout::config" title="Stripe Hosted Checkout Section"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
