#menu-shopwhizzy-base-core > a {
    padding-bottom: 15px;
    &::before {
        content: '';
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 500 500'%3E%3Cg%3E%3Cpolygon points='438.4 151.2 438.4 114.5 179.6 114.5 164 151.2 438.4 151.2' style='fill: %23AAA59F;'/%3E%3Cpolygon points='438.4 385.5 438.4 348.8 77.7 348.8 61.6 385.5 438.4 385.5' style='fill: %23AAA59F;'/%3E%3Cpolygon points='438.4 268.6 438.4 231.9 128.9 231.9 112.8 268.6 438.4 268.6' style='fill: %23AAA59F;'/%3E%3C/g%3E%3Crect width='500' height='500' style='fill: none;'/%3E%3C/svg%3E") no-repeat center;
        background-size: contain;
        height: 32px;
    }
}
#menu-shopwhizzy-base-core > a:hover:before,
#menu-shopwhizzy-base-core._show > a:before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 500 500'%3E%3Cg%3E%3Cpolygon points='438.4 151.2 438.4 114.5 179.6 114.5 164 151.2 438.4 151.2' style='fill: %23fff;'/%3E%3Cpolygon points='438.4 385.5 438.4 348.8 77.7 348.8 61.6 385.5 438.4 385.5' style='fill: %23fff;'/%3E%3Cpolygon points='438.4 268.6 438.4 231.9 128.9 231.9 112.8 268.6 438.4 268.6' style='fill: %23fff;'/%3E%3C/g%3E%3Crect width='500' height='500' style='fill: none;'/%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
}
.config-nav-block {
    &.shopwhizzy_tab {
        >.title {
            padding-left: 50px;
            ::before {
                content: "";
                speak: none;
                vertical-align: bottom;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 500 500'%3E%3Cg%3E%3Cpolygon points='438.4 151.2 438.4 114.5 179.6 114.5 164 151.2 438.4 151.2' style='fill: %23000;'/%3E%3Cpolygon points='438.4 385.5 438.4 348.8 77.7 348.8 61.6 385.5 438.4 385.5' style='fill: %23000;'/%3E%3Cpolygon points='438.4 268.6 438.4 231.9 128.9 231.9 112.8 268.6 438.4 268.6' style='fill: %23000;'/%3E%3C/g%3E%3Crect width='500' height='500' style='fill: none;'/%3E%3C/svg%3E");
                width: 24px;
                height: 24px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 15px;
                top: 14px;
                margin: 0;
            }
        }
    }
}
